{% extends "_base.html" %}
{% load static %}
{% block javascript %}
   {% comment %} <script type="text/javascript" src="{% static '' %}" defer ></script> {% endcomment %}
{% endblock %}
{% block title %}About{% endblock %}
{% block main %}
<div class="">
    <div class="hero overlay mb-4" style="background-image: url('{% static "img/baner-1.png" %}');" alt="Church-at" >
        <div class="container-fluid">
            <div class="row align-items-top pt-1 justify-content-between">
                <div class="col-lg-6 me-auto pt-4 text-center">
                   
                    <div class="container border-0 rounded py-5 px-2 px-md-2 animated bounceInLeft text-light ">
                        <h3 class="text-light">About Us</h3>
                        <h5 class="text-church text-light">
                            ስለእኛ የበለጠ ለማወቅ እና መረጃ ለማግኘት ቪዲዮውን ይመልከቱ።</h5>
                        <h3 class="text-church text-light">
                            Watch the video to learn more about us and get informed.</h3>
                    </div>
                </div>
                <div class="col-lg-5 py-5 px-4 aos-init aos-animate bolder border-primary shadow" data-aos="fade-left">
                    <a href="" class="video-bg" data-bs-toggle="modal" data-src="https://www.youtube.com/embed/DWRcNpR6Kdc" data-bs-target="#videoModal-2">
                    <span class="icon"><span class="icon-play"><i class="bi bi-play-circle h1"></i></span></span>
                        <img src="{% static "img/aboutUs/leaders-64.png" %} " alt="Image" class="img-fluid rounded shadow">
                    </a>
                </div>
            </div>
        </div>
    </div>
     <!-- Modal Video -->
     <div class="modal fade" id="videoModal-2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content rounded-3">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">የትንሳኤ ጥዑመ ዝማሬ</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- 16:9 aspect ratio -->
                    <div class="ratio ratio-16x9">

                    <iframe width="766" height="431" src="https://www.youtube.com/embed/JlhzT6lFz2Q?rel=0" title="2019 የትንሳኤ ጥዑመ  ዝማሬ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

                    </div>
                </div>
            </div>
        </div>
    </div>
      <!-- Menu Start -->
    <div class="container-fluid menu bg-light ">
        <div class="container">
            <div class="text-center wow bounceInUp mb-2" data-wow-delay="0.1s">
                <small class="d-inline-block fw-bold text-dark text-uppercase bg-light border border-primary rounded-pill px-4 py-1 mb-3">About us</small>
                
                <h5 class="mb-3">በስመ አብ ወወልድ ወመንፈስ ቅዱስ አሐዱ አምላክ አሜን</h5>
                <span class="mb-3 text-church">In the name of the Father, the Son, the Holy Spirit, the One God, Amen.</span>
                
            </div>
            <div class="tab-class text-center">
                <ul class="nav nav-pills d-inline-flex justify-content-center mb-5 wow bounceInUp" data-wow-delay="0.1s">
                    <li class="nav-item p-2">
                        <a class="d-flex py-2 mx-2 border border-primary bg-white rounded-pill active" data-bs-toggle="pill" href="#tab-6">
                            <span class="text-dark" style="width: 140px;">Vision|ራዕይ </span>
                        </a>
                    </li>
                    <li class="nav-item p-2">
                        <a class="d-flex py-2 mx-2 border border-primary bg-white rounded-pill" data-bs-toggle="pill" href="#tab-7">
                            <span class="text-dark" style="width: 140px;">Mission|ተልዕኮ</span>
                        </a>
                    </li>
                    <li class="nav-item p-2">
                        <a class="d-flex py-2 mx-2 border border-primary bg-white rounded-pill" data-bs-toggle="pill" href="#tab-8">
                            <span class="text-dark" style="width: 140px;">Values|እሴቶች </span>
                        </a>
                    </li>
                    <li class="nav-item p-2">
                        <a class="d-flex py-2 mx-2 border border-primary bg-white rounded-pill" data-bs-toggle="pill" href="#tab-9">
                            <span class="text-dark small" style="width: 140px;">Our History</span>
                        </a>
                    </li>
                    <li class="nav-item p-2">
                        <a class="d-flex py-2 mx-2 border border-primary bg-white rounded-pill" data-bs-toggle="pill" href="#tab-10">
                            <span class="text-dark small" style="width: 140px;">አባቶች|Leaders</span>
                        </a>
                    </li>
                    <li class="nav-item p-2">
                        <a class="d-flex py-2 mx-2 border border-primary bg-white rounded-pill" data-bs-toggle="pill" href="#tab-11">
                            <span class="text-dark small" style="width: 140px;">Our App objectives</span>
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div id="tab-6" class="tab-pane fade show p-0 active">
                        <div class="row g-4">
                            <div class="col-lg-12 wow bounceInUp" data-wow-delay="0.2s">
                                <div class="menu-item d-flex align-items-center">
                                    {% comment %} <img class="flex-shrink-0 img-fluid rounded-circle" src="{% static "img/logoBlanck.png" %}" alt="" width="60" height="60"> {% endcomment %}
                                    <div class="w-100 d-flex flex-column text-start ps-4">
                                        <div class="d-flex justify-content-between border-bottom border-primary pb-2 mb-2">
                                            <h4>ራዕይ</h4>
                                            <h6 class="text-primary"><img class="flex-shrink-0 img-fluid rounded-circle" src="{% static "img/misson-icon.png" %}"  width="40" height="40" alt=""> </h6>
                                        </div>
                                        <p class="my-2">ራዕያችን የኢትዮጵያ ኦርቶዶክስ ተዋሕዶ ክርስትናን የተቀደሰ አስተምህሮ በመጠበቅ ምእመናንን/ልጆቿን በአብ በወልድ በመንፈስ ቅዱስ ስም በማጥመቅ ወንጌለ መንግስትን በመስበክ ንስሐ እንዲገቡና ስጋወ ወደሙን ተቀብለው መንግስተ ሰማያትን እንዲወርሱ ማዘጋጀት ማትጋት ፤ መንፈሳዊና ማኅበራዊ አገልግሎቶችን ለምእመናን ሁሉ ተዳርሶ ማየት። በማህበረሰባችን  ውስጥ መንፈሳዊ እድገትን፣ አንድነትን እና ፍቅርን ማጎልበት የእግዚአብሔርን ብርሃን ለአለም እያካፈልን እንዲወርሱ ማዘጋጀት።</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 wow bounceInUp" data-wow-delay="0.1s">
                                <div class="menu-item d-flex align-items-center">
                                    {% comment %} <img class="flex-shrink-0 img-fluid rounded-circle" src="{% static "img/vision-icon.png" %}"  width="60" height="60" alt=""> {% endcomment %}
                                    <div class="w-100 d-flex flex-column text-start ps-4">
                                        <div class="d-flex justify-content-between border-bottom border-primary pb-2 mb-2">
                                            <h4>Vision</h4>
                                            <h6 class="text-primary">
                                                <img class="flex-shrink-0 img-fluid rounded-circle" src="{% static "img/misson-icon.png" %}"  width="40" height="40" alt=""> 
                                            </h6>
                                        </div>
                                        <p class="my-2">Our vision is to preserve the sacred teachings of Ethiopian Orthodox Tewahedo Christianity, baptize its believers/children in the name of the Father and Son in the name of the Holy Spirit, preach the gospel, and strive to prepare them to repent and accept the flesh and inherit the kingdom of heaven; To see that spiritual and social services are available to all believers. Fostering spiritual growth, unity and love in our community, preparing them to inherit God's light while sharing it with the world.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 wow bounceInUp" data-wow-delay="0.3s">
                                <div class="menu-item d-flex align-items-center">
                                    {% comment %} <img class="flex-shrink-0 img-fluid rounded-circle" src="{% static "img/logoBlanck.png" %}" alt="" width="60" height="60"> {% endcomment %}
                                    <div class="w-100 d-flex flex-column text-start ps-4">
                                        <div class="d-flex justify-content-between border-bottom border-primary pb-2 mb-2">
                                            <h4>Mul'ata</h4>
                                            <h6 class="text-primary"><img class="flex-shrink-0 img-fluid rounded-circle" src="{% static "img/misson-icon.png" %}"  width="40" height="40" alt=""> </h6>
                                        </div>
                                        <p class="my-2">Mul’anni keenya barsiisa qulqulluu amantii Kiristaanummaa Ortodoksii Tewaahidoo Itoophiyaa kunuunsuu, 
                                            amantoota/ijoollee ishee maqaa Abbaa fi Ilmaa maqaa Afuura Qulqulluutiin cuuphuu, wangeela lallabuu, 
                                            akka isaan gaabbii galanii foon fudhatan qopheessuuf carraaquu dha mootummaa samii dhaaluu; 
                                            Tajaajilli hafuuraa fi hawaasummaa amantoota hundaaf akka argamu arguuf. Guddina hafuuraa, 
                                            tokkummaa fi jaalala hawaasa keenya keessatti guddisuu, ifa Waaqayyoo akka dhaalaniif qopheessuun osoo addunyaaf qoodanii.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="tab-7" class="tab-pane fade show p-0">
                        <div class="row g-4">
                            <div class="col-lg-12">
                                <div class="menu-item d-flex align-items-center">
                                    {% comment %} <img class="flex-shrink-0 img-fluid rounded-circle" src="{% static "img/menu-01.jpg" %}" alt=""> {% endcomment %}
                                    <div class="w-100 d-flex flex-column text-start ps-4">
                                        <div class="d-flex justify-content-between border-bottom border-primary pb-2 mb-2">
                                            <h4>ተልዕኮ</h4>
                                            <h6 class="text-primary"><img class="flex-shrink-0 img-fluid rounded-circle" src="{% static "img/misson-icon.png" %}"  width="40" height="40" alt=""> </h6>
                                        </div>
                                        <p class="mb-0">የጌታችን የኢየሱስ ክርስቶስን ወንጌል በማዳረስ ምዕመናን ርትዕት የሆነችውን ተዋህዶ ሐይማኖታቸውን ዶግማዋን ፡ ቀኖናዋንና ትውፊቷን ከምግባር ጋር አስተባብረው እንደ ቃሉ እንዲኖሩ ማስቻል::</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="menu-item d-flex align-items-center">
                                    {% comment %} <img class="flex-shrink-0 img-fluid rounded-circle" src="{% static "img/menu-03.jpg" %}" alt=""> {% endcomment %}
                                    <div class="w-100 d-flex flex-column text-start ps-4">
                                        <div class="d-flex justify-content-between border-bottom border-primary pb-2 mb-2">
                                            <h4>Mission</h4>
                                            <h6 class="text-primary"><img class="flex-shrink-0 img-fluid rounded-circle" src="{% static "img/misson-icon.png" %}"  width="40" height="40" alt=""> </h6>
                                        </div>
                                        <p class="mb-0">By spreading the gospel of our Lord Jesus Christ, enable the believers to unite their religion, dogma, canon and tradition with their morals and live according to the word.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="menu-item d-flex align-items-center">
                                    {% comment %} <img class="flex-shrink-0 img-fluid rounded-circle" src="{% static "img/menu-05.jpg" %}" alt=""> {% endcomment %}
                                    <div class="w-100 d-flex flex-column text-start ps-4">
                                        <div class="d-flex justify-content-between border-bottom border-primary pb-2 mb-2">
                                            <h4>Ergama</h4>
                                            <h6 class="text-primary"><img class="flex-shrink-0 img-fluid rounded-circle" src="{% static "img/misson-icon.png" %}"  width="40" height="40" alt=""> </h6>
                                        </div>
                                        <p class="mb-0">Wangeela Gooftaa keenya Iyyasuus Kiristoos babal’isuun, amantoonni amantii, dogmaa, seera fi duudhaa isaanii amala isaanii waliin tokkummaadhaan akka dubbichaatti akka jiraatan dandeessisuudha.</p>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div id="tab-8" class="tab-pane fade show p-0">
                        <div class="row g-4">
                            <div class="col-lg-12">
                                <div class="menu-item d-flex align-items-center">
                                    {% comment %} <img class="flex-shrink-0 img-fluid rounded-circle" src="{% static "img/menu-01.jpg" %}" alt=""> {% endcomment %}
                                    <div class="w-100 d-flex flex-column text-start ps-4">
                                        <div class="d-flex justify-content-between border-bottom border-primary pb-2 mb-2">
                                            <h4>እሴቶች</h4>
                                            <h4 class="text-primary"><i class="bi bi-stars fs-4"></i></h4>
                                        </div>
                                        <p class="mb-0">እምነት ፣ ቅድስና ፣ መንፈሳዊነት ፣ ጽድቅ
                                            ትህትና ፣ አገልጋይነት ፣ ፍቅር ፣ ተስፋ ፣ ፍትህ </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="menu-item d-flex align-items-center">
                                    {% comment %} <img class="flex-shrink-0 img-fluid rounded-circle" src="{% static "img/menu-02.jpg" %}" alt=""> {% endcomment %}
                                    <div class="w-100 d-flex flex-column text-start ps-4">
                                        <div class="d-flex justify-content-between border-bottom border-primary pb-2 mb-2">
                                            <h4>Values</h4>
                                            <h4 class="text-primary"><i class="bi bi-stars fs-4"></i></h4>
                                        </div>
                                        <p class="mb-0">Faith , holiness , spirituality , righteousness, Humility , service , love , hope , justice</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="menu-item d-flex align-items-center">
                                    {% comment %} <img class="flex-shrink-0 img-fluid rounded-circle" src="{% static "img/menu-04.jpg" %}" alt=""> {% endcomment %}
                                    <div class="w-100 d-flex flex-column text-start ps-4">
                                        <div class="d-flex justify-content-between border-bottom border-primary pb-2 mb-2">
                                            <h4>Duudhaalee</h4>
                                            <h4 class="text-primary"><i class="bi bi-stars fs-4"></i></h4>
                                        </div>
                                        <p class="mb-0">Amantii, qulqullummaa, afuurummaa, qajeelummaa Gad of qabuu, garbummaa, jaalala, abdii, haqa</p>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div id="tab-9" class="tab-pane fade show p-0">
                        <div class="row g-4">
                            <div class="col-lg-12">
                                <div class="menu-item d-flex align-items-center">
                                    {% comment %} <img class="flex-shrink-0 img-fluid rounded-circle" src="{% static "img/menu-07.jpg" %}" alt=""> {% endcomment %}
                                    <div class="w-100 d-flex flex-column text-start ps-4">
                                        <div class="d-flex justify-content-between border-bottom border-primary pb-2 mb-2">
                                            <h4>ታሪካችን</h4>
                                            <h4 class="text-primary"><i class="bi bi-clock-history"></i></h4>
                                        </div>
                                        <p class="mb-0">በ1995 የተቋቋመው ሐመረ ኖህ ኪዳነ ምሕረት፣ ቅዱስ ሚካኤል እና አቡነ 
                                            ተክለሃይማኖት በላስቬጋስ የኢትዮጵያ ኦርቶዶክስ ተዋሕዶ ካቴድራል የኢትዮጵያ ኦርቶዶክስ ተዋህዶ ትውፊት 
                                            ዘለቄታ ያለው ቅርስ ነው። በዚያ ወሳኝ አመት ውስጥ፣ በማይናወጥ እምነት እና በተጨናነቀው 
                                            የላስ ቬጋስ ከተማ ውስጥ መንፈሳዊ መሸሸጊያ ቦታን ለማቋቋም ባሳዩት ቁርጠኝነት፣ የታማኝ አማኞች ማህበረሰብ ተሰበሰበ። 
                                            በካህናት ቡራኬ እና በምእመናን ድጋፍ፣ ካቴድራሉ ተቀደሰ፣ ለትውልድ የተስፋና የድኅነት ብርሃን ሆነ። 
                                            ከዚያን ጊዜ ጀምሮ ምእመናን ከእግዚአብሔር ጋር የሚገናኙበት፣ የኦርቶዶክስ ተዋሕዶ ክርስትናን አስተምህሮ በመጠበቅ፣ 
                                            የኢትዮጵያ ኦርቶዶክስ ተዋሕዶ ቤተ ክርስቲያን ሃይማኖታዊና ባህላዊ ቅርሶችን በመጠበቅ ላይ ነው።</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="menu-item d-flex align-items-center">
                                    {% comment %} <img class="flex-shrink-0 img-fluid rounded-circle" src="{% static "img/menu-06.jpg" %} " alt=""> {% endcomment %}
                                    <div class="w-100 d-flex flex-column text-start ps-4">
                                        <div class="d-flex justify-content-between border-bottom border-primary pb-2 mb-2">
                                            <h4>Our History</h4>
                                            <h4 class="text-primary"><i class="bi bi-clock-history"></i></h4>
                                        </div>
                                        <p class="mb-0">
                                            Established in 1995, Hamere Noah Kidane Mihret, St. Michael & Abune Teklehimanot Ethiopian Orthodox Tewahedo Cathedral in Las Vegas 
                                            embodies the enduring legacy of Ethiopian Orthodox tradition. In that pivotal year, 
                                            a community of devout believers came together, inspired by their unwavering faith and 
                                            determination to establish a spiritual haven in the bustling city of Las Vegas. 
                                            With the blessings of the clergy and the support of the faithful, 
                                            the cathedral was consecrated, becoming a beacon of hope and salvation for generations to come. 
                                            Since then, it has served as a sanctuary where believers gather to commune with God, 
                                            uphold the teachings of Orthodox Christianity, and preserve the rich religious and cultural heritage of the Ethiopian Orthodox Church.</p>
                                    </div>
                                </div>
                            </div>  
                        </div>
                    </div>
                    <div id="tab-10" class="tab-pane fade show p-0">
                        <!-- Blog Start -->
                        <div class="container-fluid blog py-3">
                            <div class="container">
                                <div class="text-center wow bounceInUp py-2" data-wow-delay="0.0s">
                                    {% comment %} <small class="d-inline-block fw-bold text-dark text-uppercase bg-light border border-primary rounded-pill px-4 py-1 mb-3">Our Blog</small> {% endcomment %}
                                    <h6 class="mb-2">የቤተክርስቲያናችን አባቶች : መነኮሳት : ካህናት : እንዲሁም : ዲያቆናት::</h6>
                                    <p class="mb-5 text-church">Fathers monks, priests and deacons of our church.</p>
                                </div>
                              
                                <div class="row g-4 my-3">
                                    <div class="col-lg-12">
                                        <div class="row g-4">
                                           
                                            <div class="col-md-6 col-lg-3 wow bounceInUp" data-wow-delay="0.0s"> 
                                               
                                                <div class="event-img position-relative ">
                                                    <img class="overflow-hidden img-fluid rounded w-100 " src="{% static "img/aboutUs/leaders-1.png" %}" alt="">
                                                </div>
                                                
                                            </div>
                                            <div class="col-md-6 col-lg-3 wow bounceInUp" data-wow-delay="0.1s">
                                                <div class="event-img position-relative">
                                                    <img class="img-fluid rounded w-100 " src="{% static "img/aboutUs/leaders-15.png" %}" alt="">
                                                    
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-lg-3 wow bounceInUp" data-wow-delay="0.2s">
                                                <div class="event-img position-relative">
                                                    <img class="img-fluid rounded w-100" src="{% static "img/aboutUs/leaders-13.png" %}" alt="">
                                                    
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-lg-3 wow bounceInUp" data-wow-delay="0.3s">
                                                <div class="event-img position-relative">
                                                    <img class="img-fluid rounded w-100" src="{% static "img/aboutUs/leaders-14.png" %}" alt="">
                                                    
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-lg-3 wow bounceInUp" data-wow-delay="0.3s">
                                                <div class="event-img position-relative">
                                                    <img class="img-fluid rounded w-100" src="{% static "img/aboutUs/leaders-12.png" %}" alt="">
                                                    
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-lg-3 wow bounceInUp" data-wow-delay="0.4s">
                                                <div class="event-img position-relative">
                                                    <img class="img-fluid rounded w-100" src="{% static "img/aboutUs/leaders-16.png" %}" alt="">
                                                    
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-lg-3 wow bounceInUp" data-wow-delay="0.5s">
                                                <div class="event-img position-relative">
                                                    <img class="img-fluid rounded w-100" src="{% static "img/aboutUs/leaders-17.png" %}" alt="">
                                                    
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-lg-3 wow bounceInUp" data-wow-delay="0.7s">
                                                <div class="event-img position-relative">
                                                    <img class="img-fluid rounded w-100" src="{% static "img/aboutUs/leaders-18.png" %}" alt="">
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row g-4 my-3">
                                    <div class="col-lg-12">
                                        <div class="row g-4">
                                           
                                            <div class="col-md-6 col-lg-3 wow bounceInUp " data-wow-delay="0.0s"> 
                                               
                                                <div class="event-img position-relative shadow">
                                                    <img class="overflow-hidden img-fluid rounded w-100 " src="{% static "img/aboutUs/leaders-1.png" %}" alt="">
                                                </div>
                                                
                                            </div>
                                            <div class="col-md-6 col-lg-3 wow bounceInUp " data-wow-delay="0.1s">
                                                <div class="event-img position-relative shadow">
                                                    <img class="img-fluid rounded w-100 " src="{% static "img/aboutUs/leaders-15.png" %}" alt="">
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-lg-3 wow bounceInUp " data-wow-delay="0.2s">
                                                <div class="event-img position-relative shadow">
                                                    <img class="img-fluid rounded w-100" src="{% static "img/aboutUs/leaders-13.png" %}" alt="">
                                                    
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-lg-3 wow bounceInUp" data-wow-delay="0.3s">
                                                <div class="event-img position-relative shadow">
                                                    <img class="img-fluid rounded w-100" src="{% static "img/aboutUs/leaders-14.png" %}" alt="">
                                                    
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-lg-3 wow bounceInUp" data-wow-delay="0.3s">
                                                <div class="event-img position-relative shadow">
                                                    <img class="img-fluid rounded w-100" src="{% static "img/aboutUs/leaders-12.png" %}" alt="">
                                                    
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-lg-3 wow bounceInUp" data-wow-delay="0.4s">
                                                <div class="event-img position-relative shadow" >
                                                    <img class="img-fluid rounded w-100" src="{% static "img/aboutUs/leaders-16.png" %}" alt="">
                                                    
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-lg-3 wow bounceInUp" data-wow-delay="0.5s">
                                                <div class="event-img position-relative shadow">
                                                    <img class="img-fluid rounded w-100" src="{% static "img/aboutUs/leaders-17.png" %}" alt="">
                                                    
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-lg-3 wow bounceInUp" data-wow-delay="0.7s">
                                                <div class="event-img position-relative shadow">
                                                    <img class="img-fluid rounded w-100" src="{% static "img/aboutUs/leaders-18.png" %}" alt="">
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Blog End -->
                    </div>
                    <div id="tab-11" class="tab-pane fade show p-0">
                        <div class="row g-4">
                            <div class="col-lg-12">
                                <div class="menu-item d-flex align-items-center">
                                    <div class="w-100 d-flex flex-column text-start ps-4">
                                        <div class="d-flex justify-content-between border-bottom border-primary pb-2 mb-3">
                                            <h4 class="text-church-bolder">መጠበቅ | Preservation</h4>
                                            <img class="flex-shrink-0 img-fluid rounded-circle" src="{% static 'img/cherchPlaceholder.png' %}" width="40" height="40" alt="">

                                        </div>
                                        <p class="mb-2">የኢትዮጵያ ኦርቶዶክስ ተዋሕዶ ክርስትናን የተቀደሰ አስተምህሮ በትምህርት ግብአት እና መስተጋብራዊ መድረኮችን ማስጠበቅ።</p>
                                        <p class="mb-2">Uphold Ethiopian Orthodox Tewahedo Christianity's sacred teachings through educational resources and interactive platforms.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="menu-item d-flex align-items-center">
                                    <div class="w-100 d-flex flex-column text-start ps-4">
                                        <div class="d-flex justify-content-between border-bottom border-primary pb-2 mb-1">
                                            <h4 class="text-church-bolder">ተመስጦ | Inspiration</h4>
                                            <img class="flex-shrink-0 img-fluid rounded-circle" src="{% static 'img/cherchPlaceholder.png' %}" width="40" height="40" alt="">

                                        </div>
                                        <p class="mb-2">የወንጌልን መልእክት አካፍሉ፤ ወደንስሐ ማሥገባትን እና የክርስቶስን ትምህርት መንግሥተ ሰማያትን ለመውረስ በጥልቀት መረዳት።</p>
                                        <p class="mb-2">Share the gospel message, inspiring repentance and acceptance of Christ's teachings for inheriting the kingdom of heaven.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="menu-item d-flex align-items-center">
                                    <div class="w-100 d-flex flex-column text-start ps-4">
                                        <div class="d-flex justify-content-between border-bottom border-primary pb-1 mb-1">
                                            <h4 class="text-church-bolder">ድጋፍ | Support</h4>
                                            <img class="flex-shrink-0 img-fluid rounded-circle" src="{% static 'img/cherchPlaceholder.png' %}" width="40" height="40" alt="">

                                        </div>
                                        <p class="my-2">መንፈሳዊ እና ማህበራዊ ድጋፍ ስርዓቶችን ማዳበር፣ አማኞች ለሁለንተናዊ ደህንነት አስፈላጊ አገልግሎቶችን እንዲያገኙ ማድረግ።</p>
                                        <p class="mb-2">Cultivate spiritual and social support systems, ensuring believers access necessary services for holistic well-being.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="menu-item d-flex align-items-center">
                                    <div class="w-100 d-flex flex-column text-start ps-4">
                                        <div class="d-flex justify-content-between border-bottom border-primary pb-2 mb-1">
                                            <h4 class="text-church-bolder">አንድነት | Unity</h4>
                                            <img class="flex-shrink-0 img-fluid rounded-circle" src="{% static 'img/cherchPlaceholder.png' %}" width="40" height="40" alt="">

                                        </div>
                                        <p class="mb-2">መንፈሳዊ እድገትን ማጎልበት፣በአማኞች መካከል አንድነትንና ፍቅርን በመንከባከብ የእግዚአብሔርን ብርሃን ያበራል።
                                        </p>
                                        <p class="mb-2">Foster spiritual development, nurturing unity and love among believers to radiate God's light.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="menu-item d-flex align-items-center">
                                    <div class="w-100 d-flex flex-column text-start ps-4">
                                        <div class="d-flex justify-content-between border-bottom border-primary pb-2 mb-1">
                                            <h4 class="text-church-bolder">ትምህርት |  Education</h4>
                                            <img class="flex-shrink-0 img-fluid rounded-circle" src="{% static 'img/cherchPlaceholder.png' %}" width="40" height="40" alt="">

                                        </div>
                                        <p class="mb-2">አማኞችን በሀብቶች ያስታጥቃቸዋል፣ የሃይማኖታዊ አስተምህሮዎችን በጥልቀት መረዳት እና እምነትን ከዕለት ተዕለት ኑሮ ጋር በማዋሃድ።</p>
                                        <p class="mb-2">Equip believers with resources, deepening understanding of religious doctrine and integrating faith into daily lives.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="menu-item d-flex align-items-center">
                                    <div class="w-100 d-flex flex-column text-start ps-4">
                                        <div class="d-flex justify-content-between border-bottom border-primary pb-2 mb-1">
                                            <h4 class="text-church-bolder">ተገዢነት | devotion</h4>
                                            <img class="flex-shrink-0 img-fluid rounded-circle" src="{% static 'img/cherchPlaceholder.png' %}" width="40" height="40" alt="">

                                        </div>
                                        <p class="mb-2">ሃይማኖታዊ መርሆችን ማጠናከር፣ እምነቶችን፣ ወጎችን እና ሥነ ምግባሮችን ለጋራ ማህበረሰብ ማስማማት።</p>
                                        <p class="mb-2">Strengthen devotion to religious principles, harmonizing beliefs, traditions, and morals for a cohesive community.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="menu-item d-flex align-items-center">
                                    <div class="w-100 d-flex flex-column text-start ps-4">
                                        <div class="d-flex justify-content-between border-bottom border-primary pb-2 mb-1">
                                            <h4 class="text-church-bolder">ትስስር | Bonding </h4>
                                            <img class="flex-shrink-0 img-fluid rounded-circle" src="{% static 'img/cherchPlaceholder.png' %}" width="40" height="40" alt="">

                                        </div>
                                        <p class="mb-2">ከሃይማኖታዊ ጽሑፎች ጋር መተሳሰርን ማመቻቸት፣ የተቀደሰ እውቀት በግል እና በጋራ ሕይወት ውስጥ እንዲተገበር ማበረታታት።</p>
                                        <p class="mb-2">Facilitate engagement with religious texts, encouraging application of sacred knowledge in personal and communal life.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="menu-item d-flex align-items-center">
                                    <div class="w-100 d-flex flex-column text-start ps-4">
                                        <div class="d-flex justify-content-between border-bottom border-primary pb-2 mb-1">
                                            <h4 class="text-church-bolder">ተሳትፎ | Participation</h4>
                                            <img class="flex-shrink-0 img-fluid rounded-circle" src="{% static 'img/cherchPlaceholder.png' %}" width="40" height="40" alt="">

                                        </div>
                                        <p class="mb-2">በሃይማኖታዊ ተግባራት ንቁ ተሳትፎን ማበረታታት፣ በአማኞች መካከል አባልነትን እና ቁርጠኝነትን ማጎልበት።</p>
                                        <p class="mb-2">Encourage active participation in religious practices, fostering belonging and commitment among believers.</p>
                                    </div>
                                </div>
                            </div> 
                            <div class="col-lg-12">
                                <div class="menu-item d-flex align-items-center">
                                    <div class="w-100 d-flex flex-column text-start ps-4">
                                        <div class="d-flex justify-content-between border-bottom border-primary pb-2 mb-1">
                                            <h4 class="text-church-bolder">ለውጥ | Transformation </h4>
                                            <img class="flex-shrink-0 img-fluid rounded-circle" src="{% static 'img/cherchPlaceholder.png' %}" width="40" height="40" alt="">

                                        </div>
                                        <p class="mb-2">አማኞች የጌታችንን የመድኃኒታችን የኢየሱስ ክርስቶስን ትምህርት በሕይወታቸው ውስጥ እንዲያካሂዱ በማድረግ ለውጥ የሚያመጣ ለውጥን ማዳበር።</p>
                                        <p class="mb-2">Foster transformative change, enabling believers to embody the teachings of our Lord and Savior Jesus Christ in their lives.</p>
                                    </div>
                                </div>
                            </div> 
                            <div class="col-lg-12">
                                <div class="menu-item d-flex align-items-center">
                                    <div class="w-100 d-flex flex-column text-start ps-4">
                                        <div class="d-flex justify-content-between border-bottom border-primary pb-2 mb-1">
                                            <h4 class="text-church-bolder">ማበረታታት | Empowerment </h4>
                                            <img class="flex-shrink-0 img-fluid rounded-circle" src="{% static 'img/cherchPlaceholder.png' %}" width="40" height="40" alt="">

                                        </div>
                                        <p class="mb-2">አማኞች እምነታቸውን እንዲካፈሉ፣ የጌታችን የመድኃኒታችን የኢየሱስ ክርስቶስን ትምህርት አና መልእክት በማስፋፋት እና ለውጥን የሚያነሳሳ።</p>
                                        <p class="mb-2">Empower believers to share their faith, spreading the message of The teachings of our Lord and Savior Jesus Christ and inspiring change.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="menu-item d-flex align-items-center">
                                    <div class="w-100 d-flex flex-column text-start ps-4">
                                        <div class="d-flex justify-content-between border-bottom border-primary pb-2 mb-1">
                                            <h4 class="text-church-bolder">መመሪያ | Guidance </h4>
                                            <img class="flex-shrink-0 img-fluid rounded-circle" src="{% static 'img/cherchPlaceholder.png' %}" width="40" height="40" alt="">

                                        </div>
                                        <p class="mb-2">መንፈሳዊ መመሪያን እና ድጋፍን መስጠት፣ አማኞች ፈተናዎችን እንዲያሸንፉ እና ከእግዚአብሔር ጋር ባላቸው ግንኙነት እንዲያድጉ መርዳት።</p>
                                        <p class="mb-2">Provide spiritual guidance and support, helping believers navigate challenges and grow in their relationship with God.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Menu End -->
</div>
{% endblock %}
